#category-nav
  a(ui-sref='categories.show({category: category.id})', ui-sref-active='active', ng-repeat='category in categories', ng-click='chooseCategory(category)') {{category.name}}

#subfooter
  #sub-category-nav
    .grid
      a(ui-sref='categories.show.settings({category:currentCategory.id, sub: sub})', ng-repeat='sub in currentCategory.sub') {{sub}}

  #footer-content(ui-view)
    p Velkommen
