doctype html
html
  head
    meta(charset='utf-8')
    title PowefrHack
    link(rel='stylesheet' href='/css/style.css')
    link(rel='stylesheet' href='/bower_components/semantic/build/packaged/css/semantic.min.css')
    link(rel='stylesheet' href='/bower_components/nvd3/nv.d3.min.css')
    link(rel='stylesheet' href='/css/style.css')

  body
    header
      nav
        ul
          li
            a(href='#') A
          li
            a(href='#') B
          li
            a(href='#') C
          li
            a(href='#') D
    section
      svg#graph

    footer
      p Morra di kan suge meg

    script(src="/bower_components/d3/d3.min.js")
    script(src="/bower_components/nvd3/nv.d3.min.js")
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/semantic/build/packaged/javascript/semantic.min.js')
    script(src='/app.js')
