doctype html
html(ng-app="powerhack")
  head
    meta(charset='utf-8')
    title PowerHack

    script(data-pace-options='{ "restartOnRequestAfter": false }', src="/bower_components/pace/pace.min.js")
    link(rel='stylesheet' href='/bower_components/nvd3/nv.d3.min.css')
    link(rel='stylesheet' href='/bower_components/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet' href='/css/style.css')
    link(rel='shortcut icon' href='/images/favicon.ico')

  body(ng-controller='MainController')
    header
      h1 Strømoversikt
      #navbar-content
        div
          label Personer
          label Rom
          br

          input(type='number', ng-model='household.persons', min='0')
          input(type='number', ng-model='household.rooms', min='0')

    #sidebar
      .grid
        a(href='#', ng-repeat='graphType in graphTypes', ng-click='changeGraphMode(graphType)') {{graphType}}


      #sidebar-content
        .consumption
          p Forbruk
            span {{yearUsage}} kWh
          p Målerverdi
            span {{meterValue}} Wh

    #content
      ul.tabs
        li
          a.active(href='') Pie Chart
        li
          a(href='') Histogram

      svg#graph

    footer
      #category-nav
        a(href='' ng-repeat='category in categories', ng-click='chooseCategory(category)', ng-class='{active: (currentCategory == category)}') {{category.name}}

      #subfooter
        #sub-category-nav
          .grid
            //a(href='' ng-repeat='sub in currentCategory.subcategories', ng-click='chooseSub(sub)') {{sub.element}}
            a(href='' ng-repeat='sub in currentCategory.subcategories', ng-click='chooseSub(sub)')
              img.icon(src='/images/{{sub.icon}}', alt='{{sub.element}}')

        #footer-content
          div.settings(ng-include='getCurrentSettingsTemplate()')


    script(src="/bower_components/momentjs/moment.js")
    script(src="/bower_components/d3/d3.min.js")
    script(src="/bower_components/nvd3/nv.d3.min.js")
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/semantic/build/packaged/javascript/semantic.min.js')
    script(src='/bower_components/angular/angular.min.js')
    script(src='/bower_components/angular-resource/angular-resource.min.js')
    script(src='/bower_components/angular-route/angular-route.min.js')
    script(src='/bower_components/angular-animate/angular-animate.min.js')
    script(src='/bower_components/angular-local-storage/angular-local-storage.min.js')
    script(src='/app.js')
