doctype html
html
  head
    meta(charset='utf-8')
    title PowefrHack
    link(rel='stylesheet' href='/css/style.css')
    link(rel='stylesheet' href='/bower_components/semantic/build/packaged/css/semantic.min.css')
    link(rel='stylesheet' href='/bower_components/nvd3/nv.d3.min.css')

  body
    #container
      .ui.green.inverted.menu#nav
        a(class="active item")
          i(class="home icon")
          | Menu
        a(class="item")
          i(class="mail icon")
          | Mail

      svg#graph

      .ui.accordion#acc
        .active.title
          i.dropdown.icon
          | Info
        .active.content
          p Info om tingen du har valgt å sjekke sparing på (ødelagt js).
        .title
          i.dropdown.icon
          | Mer info
        .content
          p Mer info om tingen du har valgt å sjekke sparing på.

    script(src="/bower_components/d3/d3.min.js")
    script(src="/bower_components/nvd3/nv.d3.min.js")
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/semantic/build/packaged/javascript/semantic.min.js')
    script(src='/app.js')
