doctype html
html(ng-app="powerhack")
  head
    meta(charset='utf-8')
    title PowerHack
    link(rel='stylesheet' href='/css/style.css')
    link(rel='stylesheet' href='/bower_components/semantic/build/packaged/css/semantic.min.css')
    link(rel='stylesheet' href='/bower_components/nvd3/nv.d3.min.css')
    link(rel='stylesheet' href='/bower_components/animate.css/animate.min.css')
    link(rel='stylesheet' href='/css/style.css')
    link(rel='stylesheet' href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')

  body(ng-controller='MainController')
    header
      nav
        ul
          li(ng-repeat='(k,v) in categories')
            a(href='#', ng-click='switchCategory(k)', title='{{v.title}}')
              i.fa.fa-globe

    aside(ng-class='{"ng-hide": (currentCategory.name != "water")}')
      ul
        li
          a(href='#') Dusjing
        li
          a(href='#') Badekar
        li
          a(href='#') Vasking
    section
      svg#graph

    footer
      p {{currentCategory.info}}

    script(src="/bower_components/d3/d3.min.js")
    script(src="/bower_components/nvd3/nv.d3.min.js")
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/semantic/build/packaged/javascript/semantic.min.js')
    script(src='/bower_components/angular/angular.min.js')
    script(src='/bower_components/angular-resource/angular-resource.min.js')
    script(src='/bower_components/angular-route/angular-route.min.js')
    script(src='/bower_components/angular-animate/angular-animate.js')
    script(src='/app.js')
