doctype html
html(ng-app="powerhack")
  head
    meta(charset='utf-8')
    title PowerHack
    link(rel='stylesheet' href='/css/style.css')
    link(rel='stylesheet' href='/bower_components/semantic/build/packaged/css/semantic.min.css')
    link(rel='stylesheet' href='/bower_components/nvd3/nv.d3.min.css')

  body
    #container
      .ui.inverted.menu#nav
        a.active.item
          i.home.icon
          | Menu
        a.item
          i.mail.icon
          | Mail

      .ui.grid
        .equal.height.row.sixteen.column
          .one.wide.column
            .ui.vertical.inverted.menu#left
              a.active.item
                i.home.icon
              a.item
                i.mail.icon
              a.item
                i.user.icon
          .fourteen.wide.column
            svg#graph
          .one.wide.column
            .ui.vertical.inverted.menu#right
              a.active.item
                i.home.icon
              a.item
                i.mail.icon
              a.item
                i.user.icon

      .ui.accordion#acc
        .active.title#first
          i.dropdown.icon
          | Info
        .active.content
          p Info om tingen du har valgt å sjekke sparing på (ødelagt js).
        .title
          i.dropdown.icon
          | Mer info
        .content
          p Mer info om tingen du har valgt å sjekke sparing på.

    script(src="/bower_components/d3/d3.min.js")
    script(src="/bower_components/nvd3/nv.d3.min.js")
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/semantic/build/packaged/javascript/semantic.min.js')
    script(src='/bower_components/angular/angular.min.js')
    script(src='/bower_components/angular-resource/angular-resource.min.js')
    script(src='/bower_components/angular-route/angular-route.min.js')
    script(src='/app.js')
