doctype html
html(ng-app="powerhack")
  head
    meta(charset='utf-8')
    title PowerHack

    script(src="/bower_components/pace/pace.min.js")
    link(rel='stylesheet' href='/bower_components/nvd3/nv.d3.min.css')
    link(rel='stylesheet' href='/bower_components/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet' href='/bower_components/css-toggle-switch/dist/toggle-switch.css')
    link(rel='stylesheet' href='/css/style.css')
    link(rel='shortcut icon' href='/images/favicon.ico')
    link(rel='stylesheet', ng-href='{{paceCss}}')

  body(ng-controller='MainController')
    header
      h1 Strømoversikt
      #navbar-content
        div
          label Personer
          label Rom
          br

          input(type='number', ng-model='household.persons', min='0')
          input(type='number', ng-model='household.rooms', min='0')

    #sidebar
      .grid
        a(href='#', ng-repeat='graphType in graphTypes', ng-click='changeGraphMode(graphType)') {{graphType}}


      #sidebar-content
        .consumption
          p Årsforbruk
            span {{yearUsage | number:0}} kWh
          p Målerverdi
            span {{meterValue | number:3 }} kWh
          p Estimert månedsforbruk
            span {{nextMonth | number:0}} kr
          p Forbedret månedsforbruk
            span {{estimatedNextMonth() | number:0}} kr
          p Ønsket forbruk
            input(ng-model='wantedPrice', type='number', ng-blur='proposeSavings()')

    #content
      svg#graph

    footer
      #category-nav
        a(href='' ng-repeat='category in categories', ng-click='chooseCategory(category)', ng-class='{active: (currentCategory == category)}')
          img(src='/images/{{category.name}}.png')
          | {{category.name}}

      #subfooter
        #sub-category-nav
          .grid
            //a(href='' ng-repeat='sub in currentCategory.subcategories', ng-click='chooseSub(sub)') {{sub.element}}
            a(href='' ng-repeat='sub in currentCategory.subcategories', ng-click='chooseSub(sub)' ng-class='{active: (currentSub == sub)}')
              img.icon(src='/images/{{sub.icon}}', alt='{{sub.element}}')

        #footer-content
          div.settings(ng-include='getCurrentSettingsTemplate()')


    script(src="/bower_components/momentjs/moment.js")
    script(src="/bower_components/d3/d3.min.js")
    script(src="/bower_components/nvd3/nv.d3.min.js")
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/semantic/build/packaged/javascript/semantic.min.js')
    script(src='/bower_components/angular/angular.min.js')
    script(src='/bower_components/angular-resource/angular-resource.min.js')
    script(src='/bower_components/angular-route/angular-route.min.js')
    script(src='/bower_components/angular-animate/angular-animate.min.js')
    script(src='/bower_components/angular-local-storage/angular-local-storage.min.js')
    script(src='/app.js')
