doctype html
html(ng-app="powerhack")
  head
    meta(charset='utf-8')
    title PowerHack
    //link(rel='stylesheet' href='/bower_components/semantic/build/packaged/css/semantic.min.css')
    link(rel='stylesheet' href='/bower_components/nvd3/nv.d3.min.css')
    link(rel='stylesheet' href='/bower_components/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet' href='/css/style.css')

  body(ng-controller='MainController')
    header
      h1 Strømoversikt
      #navbar-content
        div
          a(href='#')
            i.fa.fa-map-marker
          a(href='#')
            i.fa.fa-info

    #sidebar
      .grid
        a(href='#') Live
        a(href='#') Sparing
        a(href='#') Naboen

      #sidebar-content
        .consumption
          p Forbruk
            span 6434 kWh

    #content
      ul.tabs
        li
          a.active(href='') Pie Chart
        li
          a(href='') Histogram
      svg#graph

    footer
      #category-nav
        a(href='', ng-repeat='category in categories', ng-click='chooseCategory(category)') {{category.name}}

      #subfooter
        #sub-category-nav
          .grid
            a(href='', ng-repeat='sub in currentCategory.sub') {{sub}}
            
        #footer-content
          p Velkommen

    script(src="/bower_components/d3/d3.min.js")
    script(src="/bower_components/nvd3/nv.d3.min.js")
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/semantic/build/packaged/javascript/semantic.min.js')
    script(src='/bower_components/angular/angular.min.js')
    script(src='/bower_components/angular-resource/angular-resource.min.js')
    script(src='/bower_components/angular-route/angular-route.min.js')
    script(src='/bower_components/angular-animate/angular-animate.min.js')
    script(src='/app.js')
