doctype html
html(ng-app="powerhack")
  head
    meta(charset='utf-8')
    title PowerHack
    //link(rel='stylesheet' href='/bower_components/semantic/build/packaged/css/semantic.min.css')
    link(rel='stylesheet' href='/bower_components/nvd3/nv.d3.min.css')
    link(rel='stylesheet' href='/css/style.css')

  body
    header
      h1 Powerhack - Strømshiat
      #navbar-content
        .grid
          a(href='#') OM
          a(href='#') INFO

    #sidebar
      .grid
        a(href='#') A
        a(href='#') B
        a(href='#') C
        a(href='#') D
        a(href='#') E
        a(href='#') F

      #sidebar-content
      p Mordi er mann
      p Mordi er mann
      p Mordi er mann

    #content
      svg#graph

    footer
      #category-nav
        .subgrid
          a(href='#') World
          a(href='#') Editor
          a(href='#') World
          a(href='#') Editor
      #subfooter
        #sub-category-nav
          .grid
            a#a(href='#') A
            a(href='#') B
            a(href='#') C
            a(href='#') D
            a(href='#') E
            a(href='#') F
            a(href='#') G
            a(href='#') H
        #footer-content
          p Velkommen
      .ui.accordion#acc
        .active.title#first
          i.dropdown.icon
          | Info
        .active.content
          p Info om tingen du har valgt å sjekke sparing på (ødelagt js).
        .title
          i.dropdown.icon
          | Mer info
        .content
          p Mer info om tingen du har valgt å sjekke sparing på.
          p(ng-controller="demo-steinskjer")
          p(ng-controller="demo-steinskjer-realtime")

    script(src="/bower_components/momentjs/moment.js")
    script(src="/bower_components/d3/d3.min.js")
    script(src="/bower_components/nvd3/nv.d3.min.js")
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/semantic/build/packaged/javascript/semantic.min.js')
    script(src='/bower_components/angular/angular.min.js')
    script(src='/bower_components/angular-resource/angular-resource.min.js')
    script(src='/bower_components/angular-route/angular-route.min.js')
    script(src='/app.js')
