@import 'nib/reset'
@import 'nib/vendor'
@import 'nib/gradients'

global-reset()

*
  box-sizing border-box
  font-smoothing antialiased

body
  background-color: #f9f9f7
  line-height 2
  font-family 'Helvetica Neue', Helvetica, sans-serif
  font-size 16px

h1
  font-size 30px

#container
  width: 70%
  margin: 0 auto

#nav
  margin: 2% auto
  background linear-gradient(bottom, #1b8471, #2980b9)

  a
    font-size 20px
    font-weight 400
    padding 20px

#graph
  height: 400px

#acc
  width: 100%
  margin-top: 2%
#acc .active.title
  background-color: #296ad4
