@import 'nib/reset'
@import 'nib/vendor'
@import 'nib/gradients'

global-reset()

*
  box-sizing border-box
  font-smoothing antialiased

body
  background-color: #f5f4ef
  line-height 2
  font-family 'Helvetica Neue', Helvetica, sans-serif
  font-size 16px

h1
  font-size 30px

#container
  width: 70%
  margin: 0 auto

#nav
  margin: 2% auto
  background-color: #64ABCF
