@import 'nib/reset'
@import 'nib/vendor'
@import 'nib/gradients'

global-reset()

*
  box-sizing border-box
  font-smoothing antialiased


body
  background: url('/images/mountains.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  line-height 2
  font-family 'Helvetica Neue', Helvetica, sans-serif
  font-size 16px

h1
  font-size 30px

#container
  overflow hidden
  background-color rgba(249,249,247, 0.8)
  width 100%
  margin 0 auto

#nav
  width 90%
  margin 2% auto
  background-color #2a87d3

#graph
  width 90%
  height 400px
  margin 0 auto

#acc
  width 90%
  margin 2% auto
#acc #first
  color #fff
  background-color #2a87d3
