.tabs
  background linear-gradient(#fff, #eee)
  text-align right
  margin-bottom 20px

  li
    display inline-block

    a
      display inline-block
      padding 5px 12px
      color #312E3F
      border-top 2px solid #fff

      &:hover, &.active
        background #fff
        border-top 2px solid #A1B73E
