h2 Badekar

p {{currentSub.description}}

div.form.toggle
  label(class='switch-light switch-candy togglelabel')
    input(type='checkbox')
    span(style='color:black;') Modus
      span(class='toggle') Bruker
      span(class='toggle') Bruker ikke
    a(href='#' class='toggleslider')
