h2 Dusj

p {{currentSub.description}}

div.form.toggle
  div(style='position: absolute; width: 50%;')
    label(class='switch-light switch-candy togglelabel')
      input(type='checkbox', ng-model='switches.shower[1]')
      span(style='color:black;') Dusjhode
        span(class='toggle') Vanlig
        span(class='toggle') Spare
      a(href='#' class='toggleslider')
