h2 Oppvaskmaskin

p {{currentSub.description}}

div.form.toggle
  label(class='switch-light switch-candy togglelabel')
    input(type='checkbox' ng-model='switches.dishwasher[1]')
    span(style='color:black;') Modus
      span(class='toggle') Eco
      span(class='toggle') Vanlig
    a(href='#' class='toggleslider')
