h2 Vaskemaskin

p {{currentSub.description}}

div.form.toggle
  label(class='switch-light switch-candy togglelabel')
    input(type='checkbox' ng-model='switches.washer[1]')
    span(style='color:black;') Modus
      span(class='toggle') Vanlig
      span(class='toggle') Eco
    a(href='#' class='toggleslider')
