h2 Vask

p {{currentSub.description}}

div.form.toggle
  label(class='switch-light switch-candy togglelabel')
    input(type='checkbox')
    span(style='color:black;') Modus
      span(class='toggle') Ja
      span(class='toggle') Nei
    a(href='#' class='toggleslider')
