h2 Vaskemaskin

p {{currentSub.description}}

div.form.toggle
  label(class='switch-light switch-candy togglelabel')
    input(type='checkbox')
    span(style='color:black;') Modus
      span(class='toggle') Eco
      span(class='toggle') Vanlig
    a(href='#' class='toggleslider')
