h2 Husker du å skru av lysene?

p {{currentSub.description}}

div.form
  label(class='switch-light switch-candy')
    input(type='checkbox')
    span Modus
      span På
      span Av
    a(href='#')
