h2 Husker du å skru av lysene?

p {{currentSub.description}}
div.form.toggle
  label(class='switch-light switch-candy togglelabel')
    input(type='checkbox' ng-click='updateGraph(-10)')
    span(style='color:black;') Modus
      span(class='toggle') På
      span(class='toggle') Av
    a(href='#' class='toggleslider')
