h2 Husker du å skru av lysene?

p {{currentSub.description}}
div.form.toggle
  label(class='switch-light switch-candy togglelabel')
    input(type='checkbox' ng-model='switches.hjerne[1]')
    span(style='color:black;') Modus
      span(class='toggle') Før
      span(class='toggle') Etter
    a(href='#' class='toggleslider')
