h2 Lyspærer

p {{currentSub.description}}

div.form.toggle
  label(class='switch-light switch-candy togglelabel')
    input(type='checkbox')
    span(style='color:black;') Modus
      span(class='toggle') Glødepærer
      span(class='toggle') Sparepærer
    a(href='#' class='toggleslider')
