h2 Lyssensor

p {{currentSub.description}}

div.form.toggle
  label(class='switch-light switch-candy togglelabel')
    input(type='checkbox' ng-model='switches.lyssensor[1]')
    span(style='color:black;') Modus
      span(class='toggle') Før
      span(class='toggle') Etter
    a(href='#' class='toggleslider')
