h2 Fyring

p {{currentSub.description}}

div.form.toggle
  label(class='switch-light switch-candy togglelabel')
    input(type='checkbox' ng-model='switches.heat[1]')
    span(style='color:black;') Modus
      span(class='toggle') På
      span(class='toggle') Av
    a(href='#' class='toggleslider')
