h2 Gardiner

p {{currentSub.description}}

div.form.toggle
  label(class='switch-light switch-candy togglelabel')
    input(type='checkbox' ng-model='switches.gardiner[1]')
    span(style='color:black;') Modus
      span(class='toggle') Inaktiv
      span(class='toggle') Aktiv
    a(href='#' class='toggleslider')
