h2 Kjøleskap

p {{currentSub.description}}

div.form.toggle
  label(class='switch-light switch-candy togglelabel')
    input(type='checkbox' ng-model='switches.kjoleskap[1]')
    span(style='color:black;') Modus
      span(class='toggle') Gammelt
      span(class='toggle') Nytt
    a(href='#' class='toggleslider')
